.item {
  width: 240px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 24px rgba(168, 175, 196, 0.5);
}
.img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
.name {
  padding: 12px;
  line-height: 1.5;
}
