.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: var(--spacing-medium);
}
.input {
  width: 300px;
  padding: 0;
  margin: 0;
  font-size: 6px;
  background-color: #fff;
}
.alert {
  width: 300px;
  border: 1px solid #dccbab;
}
