:root {
  --spacing-medium: 22px;
  --border-radius-medium: 12px;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    Arial,
    sans-serif;
  line-height: 1.5;
  background-color: #f7f7f7;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.section {
  margin: var(--spacing-medium) 0;
}
.h1 {
  margin: 0;
  margin: var(--spacing-medium) 0;
  font-size: 26px;
}
.h2 {
  margin: 15px 0;
  font-size: 22px;
}
